/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: 	#c0c0f3;
    color: black;
    
    height: 100vh;
    display: grid;
    place-items: center;
}
a {
    text-decoration: none;
}

.container {
    height: 704px;
    width: 550px;
    background: rgb(255, 255, 255);
    border-radius: 7px;
}

/* Header */
header {
    height: 55px;
    background: #000000;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
    display:flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
}
header h4 {
    font-weight: lighter;
    letter-spacing: -1px;
}

/* Cards */
.card-container {
    display: flex;

    color: black;

    padding: 1.46rem;
    position: relative;
}
/* #F5F5F5 */
.card-container::after {
    content: "";
    background: #F5F5F5;
    width: 478px;
    height: 1px;
    position: absolute;
    top: 0px;
}

.card-img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 4px 4px 28px 4px rgba(0,0,0,0.25) ;
}
.card-info {
    padding: 20px;
    padding-bottom: 0;
}
.card-location {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin-bottom: 5px;
}
.card-location p {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.location-icon {
    color: #3c911b;
}
.card-title {
    margin-bottom: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-dates {
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 10px;
}
.card-description {
    font-size: 10px;
    line-height: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 
